.techverse-home-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .techverse-home-page .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 5726px;
    position: relative;
  }
  
  .techverse-home-page .overlap {
    position: absolute;
    width: 1440px;
    height: 734px;
    top: 2335px;
    left: 0;
    background-color: #070916;
  }
  
  .techverse-home-page .group {
    position: relative;
    width: 1170px;
    height: 594px;
    top: 70px;
    left: 135px;
  }
  
  .techverse-home-page .group-2 {
    position: absolute;
    width: 1170px;
    height: 464px;
    top: 130px;
    left: 0;
  }
  
  .techverse-home-page .overlap-group {
    position: absolute;
    width: 372px;
    height: 219px;
    top: -1px;
    left: -1px;
    border: 1px solid;
    border-color: #ffffff1a;
  }
  
  .techverse-home-page .group-3 {
    position: absolute;
    width: 334px;
    height: 109px;
    top: 88px;
    left: 20px;
  }
  
  .techverse-home-page .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .techverse-home-page .p {
    position: absolute;
    width: 330px;
    top: 37px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #ffffffcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
  }
  
  .techverse-home-page .icon {
    position: absolute;
    width: 36px;
    height: 48px;
    top: 25px;
    left: 20px;
  }
  
  .techverse-home-page .overlap-2 {
    position: absolute;
    width: 372px;
    height: 219px;
    top: -1px;
    left: 399px;
    border: 1px solid;
    border-color: #ffffff1a;
  }
  
  .techverse-home-page .img {
    position: absolute;
    width: 55px;
    height: 36px;
    top: 25px;
    left: 20px;
  }
  
  .techverse-home-page .overlap-3 {
    position: absolute;
    width: 372px;
    height: 219px;
    top: -1px;
    left: 799px;
    border: 1px solid;
    border-color: #ffffff1a;
  }
  
  .techverse-home-page .img-2 {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 25px;
    left: 20px;
  }
  
  .techverse-home-page .overlap-group-2 {
    position: absolute;
    width: 372px;
    height: 219px;
    top: 246px;
    left: -1px;
    border: 1px solid;
    border-color: #ffffff1a;
  }
  
  .techverse-home-page .group-4 {
    position: absolute;
    width: 334px;
    height: 115px;
    top: 82px;
    left: 20px;
  }
  
  .techverse-home-page .text-wrapper-2 {
    width: 330px;
    top: 43px;
    left: 0;
    color: #ffffffcc;
    position: absolute;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
  }
  
  .techverse-home-page .overlap-4 {
    position: absolute;
    width: 372px;
    height: 219px;
    top: 246px;
    left: 399px;
    border: 1px solid;
    border-color: #ffffff1a;
  }
  
  .techverse-home-page .overlap-5 {
    position: absolute;
    width: 372px;
    height: 219px;
    top: 246px;
    left: 799px;
    border: 1px solid;
    border-color: #ffffff1a;
  }
  
  .techverse-home-page .union {
    position: absolute;
    width: 47px;
    height: 38px;
    top: 25px;
    left: 20px;
  }
  
  .techverse-home-page .group-wrapper {
    position: absolute;
    width: 1130px;
    height: 90px;
    top: 0;
    left: 22px;
  }
  
  .techverse-home-page .group-5 {
    position: relative;
    width: 1134px;
    height: 90px;
  }
  
  .techverse-home-page .text-wrapper-3 {
    position: absolute;
    top: 33px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 38px;
    letter-spacing: 0.38px;
    line-height: normal;
  }
  
  .techverse-home-page .text-wrapper-4 {
    position: absolute;
    top: 0;
    left: 502px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: normal;
  }
  
  .techverse-home-page .overlap-group-wrapper {
    position: absolute;
    width: 1440px;
    height: 88px;
    top: 0;
    left: 0;
  }
  
  .techverse-home-page .overlap-group-3 {
    position: relative;
    width: 1181px;
    height: 50px;
    top: 20px;
    left: 135px;
  }
  
  .techverse-home-page .group-6 {
    position: absolute;
    width: 1181px;
    height: 50px;
    top: 0;
    left: 0;
  }
  
  .techverse-home-page .button-medium-wrapper {
    position: absolute;
    width: 161px;
    height: 50px;
    top: 0;
    left: 1020px;
    all: unset;
    box-sizing: border-box;
  }
  
  .techverse-home-page .button-medium {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 30px;
    position: relative;
    background-color: #ea2134;
    border-radius: 5px;
    all: unset;
    box-sizing: border-box;
  }
  
  .techverse-home-page .button {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 21.6px;
    white-space: nowrap;
    all: unset;
    box-sizing: border-box;
    margin-left: 1032px;
  background-color: #f8433f;
  padding: 14px 30px 14px 30px;
  color: white;
  width: 139px;
  height: 51px;
  margin-top: -16px;
  border-radius: 5px;
  }

  .techverse-home-page .button-1 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 21.6px;
    white-space: nowrap;
    all: unset;
    box-sizing: border-box;
    margin-left: 1032px;
  background-color: #f8433f;
  padding: 14px 30px 14px 30px;
  color: white;
  width: 139px;
  height: 51px;
  margin-top: -16px;
  border-radius: 5px;
  margin-left: 638px;
  font-family: 'Poppins';
  margin-top: 370px;
  font-size: smaller;
  cursor: pointer;
  }
  
  .techverse-home-page .group-7 {
    position: absolute;
    width: 206px;
    height: 40px;
    top: 6px;
    left: 0;
  }
  
  .techverse-home-page .navbar {
    display: inline-flex;
    align-items: flex-start;
    gap: 44px;
    position: absolute;
    top: 14px;
    left: 380px;
  }
  
  .techverse-home-page .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins";
    font-weight: 400;
    color: #11171b;
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: normal;
  }
  
  .techverse-home-page .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins";
    font-weight: 500;
    color: #ea2134;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 21.6px;
    white-space: nowrap;
  }
  
  .techverse-home-page .text-wrapper-7 {
    width: 1170px;
    top: 258px;
    left: 135px;
    color: #11171bcc;
    text-align: center;
    position: absolute;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
  }
  
  .techverse-home-page .text-wrapper-8 {
    position: absolute;
    top: 186px;
    left: 606px;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #11171b;
    font-size: 38px;
    letter-spacing: 0.38px;
    line-height: normal;
  }
  
  .techverse-home-page .text-wrapper-9 {
    position: absolute;
    top: 130px;
    left: 135px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #ea2134;
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: normal;
  }
  
  .techverse-home-page .text-wrapper-10 {
    position: absolute;
    top: 130px;
    left: 199px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: normal;
  }
  
  .techverse-home-page .text-wrapper-11 {
    position: absolute;
    top: 130px;
    left: 283px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: normal;
  }
  
  .techverse-home-page .rectangle {
    left: 184px;
    position: absolute;
    width: 5px;
    height: 5px;
    top: 138px;
    background-color: #d9d9d9;
  }
  
  .techverse-home-page .rectangle-2 {
    left: 268px;
    position: absolute;
    width: 5px;
    height: 5px;
    top: 138px;
    background-color: #d9d9d9;
  }
  
  .techverse-home-page .div-wrapper {
    position: absolute;
    width: 164px;
    height: 50px;
    top: 370px;
    left: 638px;
    all: unset;
    box-sizing: border-box;
  }
  
  .techverse-home-page .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 3236px;
    left: 735px;
  }
  
  .techverse-home-page .image {
    position: relative;
    width: 570px;
    height: 420px;
    object-fit: cover;
  }
  
  .techverse-home-page .group-8 {
    position: relative;
    width: 268px;
    height: 27px;
  }
  
  .techverse-home-page .text-wrapper-12 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #11171b;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .techverse-home-page .text-wrapper-13 {
    position: relative;
    width: 570px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
  }
  
  .techverse-home-page .group-9 {
    position: absolute;
    width: 1440px;
    height: 585px;
    top: 5142px;
    left: 0;
  }
  
  .techverse-home-page .group-10 {
    position: absolute;
    width: 1440px;
    height: 524px;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
  }
  
  .techverse-home-page .group-11 {
    position: absolute;
    width: 146px;
    height: 384px;
    top: 70px;
    left: 667px;
  }
  
  .techverse-home-page .text-wrapper-14 {
    position: absolute;
    top: 52px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .text-wrapper-15 {
    position: absolute;
    top: 90px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .text-wrapper-16 {
    position: absolute;
    top: 128px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .text-wrapper-17 {
    position: absolute;
    top: 166px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .text-wrapper-18 {
    position: absolute;
    top: 206px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .text-wrapper-19 {
    position: absolute;
    top: 247px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .text-wrapper-20 {
    position: absolute;
    top: 283px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .text-wrapper-21 {
    position: absolute;
    top: 324px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .text-wrapper-22 {
    position: absolute;
    top: 360px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .group-12 {
    position: absolute;
    width: 221px;
    height: 384px;
    top: 70px;
    left: 842px;
  }
  
  .techverse-home-page .group-13 {
    position: absolute;
    width: 170px;
    height: 266px;
    top: 70px;
    left: 454px;
  }
  
  .techverse-home-page .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    position: absolute;
    top: 52px;
    left: 0;
  }
  
  .techverse-home-page .text-wrapper-23 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .text-wrapper-24 {
    position: relative;
    width: fit-content;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .group-14 {
    position: absolute;
    width: 224px;
    height: 214px;
    top: 70px;
    left: 1084px;
  }
  
  .techverse-home-page .overlap-group-4 {
    position: relative;
    width: 234px;
    height: 214px;
  }
  
  .techverse-home-page .group-15 {
    position: absolute;
    width: 30px;
    height: 162px;
    top: 52px;
    left: 0;
  }
  
  .techverse-home-page .group-16 {
    position: absolute;
    width: 234px;
    height: 211px;
    top: 0;
    left: 0;
  }
  
  .techverse-home-page .techverse {
    position: absolute;
    top: 55px;
    left: 45px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .hello-techverse-com {
    position: absolute;
    top: 99px;
    left: 45px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .element {
    position: absolute;
    top: 143px;
    left: 45px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .element-2 {
    position: absolute;
    top: 187px;
    left: 45px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .group-17 {
    position: absolute;
    width: 273px;
    height: 254px;
    top: 70px;
    left: 134px;
  }
  
  .techverse-home-page .the-thumb-s-natural {
    position: absolute;
    width: 270px;
    top: 52px;
    left: 1px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
  }
  
  .techverse-home-page .group-18 {
    position: absolute;
    width: 101px;
    height: 24px;
    top: 181px;
    left: 1px;
  }
  
  .techverse-home-page .text-wrapper-25 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .techverse-home-page .group-19 {
    position: absolute;
    width: 199px;
    height: 36px;
    top: 218px;
    left: 1px;
  }
  
  .techverse-home-page .twitter {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .techverse-home-page .FB {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 0;
    left: 54px;
  }
  
  .techverse-home-page .insta {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 0;
    left: 109px;
  }
  
  .techverse-home-page .youtube {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 0;
    left: 163px;
  }
  
  .techverse-home-page .group-20 {
    position: absolute;
    width: 175px;
    height: 34px;
    top: 0;
    left: 0;
  }
  
  .techverse-home-page .group-21 {
    position: absolute;
    width: 1440px;
    height: 61px;
    top: 524px;
    left: 0;
    background-color: #11171b;
  }
  
  .techverse-home-page .group-22 {
    position: relative;
    width: 305px;
    height: 27px;
    top: 17px;
    left: 568px;
  }
  
  .techverse-home-page .text-wrapper-26 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Product Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 26.5px;
    white-space: nowrap;
  }
  
  .techverse-home-page .group-23 {
    position: absolute;
    width: 1172px;
    height: 57px;
    top: 3139px;
    left: 135px;
  }
  
  .techverse-home-page .text-wrapper-27 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #11171b;
    font-size: 38px;
    letter-spacing: 0.38px;
    line-height: normal;
  }
  
  .techverse-home-page .button-medium-2 {
    top: 5px;
    left: 1037px;
    background-color: #ea2134;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 30px;
    position: absolute;
    border-radius: 5px;
    all: unset;
    box-sizing: border-box;
  }
  
  .techverse-home-page .button-2 {
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 20.4px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    white-space: nowrap;
    all: unset;
    box-sizing: border-box;
    background-color: #F13C31;
    padding: 14px 30px 14px 30px;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 15px;
    cursor: pointer;
    margin-left: 1032px;
    margin-top: 10px;
  }
  
  .techverse-home-page .overlap-wrapper {
    position: absolute;
    width: 1170px;
    height: 220px;
    top: 4852px;
    left: 135px;
  }
  
  .techverse-home-page .overlap-6 {
    position: relative;
    height: 220px;
  }
  
  .techverse-home-page .group-24 {
    position: absolute;
    width: 1170px;
    height: 220px;
    top: 0;
    left: 0;
    background: linear-gradient(-48deg, rgb(254, 77, 137) 0%, rgb(246, 126, 46) 100%);
  }
  
  .techverse-home-page .grow-up-your-wrapper {
    position: absolute;
    width: 616px;
    height: 126px;
    top: 47px;
    left: 60px;
  }
  
  .techverse-home-page .grow-up-your {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 42px;
    letter-spacing: 0.42px;
    line-height: normal;
  }
  
  .techverse-home-page .button-medium-3 {
    top: 83px;
    left: 955px;
    background-color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 30px;
    position: absolute;
    border-radius: 5px;
    all: unset;
    box-sizing: border-box;
  }
  
  .techverse-home-page .button-3 {
    font-weight: 500;
    color: #fd4f84;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26.2px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    white-space: nowrap;
    all: unset;
    box-sizing: border-box;
    margin-left: 951px;
  margin-top: 83px;
  width: 139px;
  height: 54px;
  background-color: #ffffff;
  top: 3945px;
  border-radius: 5px;
  color: #fd5180;
  font-family: Poppins;
  padding: 14px 30px 14px 30px;
  font-weight: 500;
  font-size: smaller;
  cursor: pointer;
  }
  
  .techverse-home-page .XMLID {
    position: absolute;
    width: 177px;
    height: 49px;
    top: 100px;
    left: 700px;
  }
  
  .techverse-home-page .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 3236px;
    left: 135px;
  }
  
  .techverse-home-page .text-wrapper-28 {
    position: relative;
    width: fit-content;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #11171b;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .techverse-home-page .overlap-7 {
    position: absolute;
    width: 1440px;
    height: 941px;
    top: 3841px;
    left: 0;
    background-color: #f9f9f9;
  }
  
  .techverse-home-page .group-25 {
    position: absolute;
    width: 559px;
    height: 57px;
    top: 70px;
    left: 434px;
  }
  
  .techverse-home-page .overlap-8 {
    position: absolute;
    width: 1030px;
    height: 179px;
    top: 167px;
    left: 205px;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .techverse-home-page .text-wrapper-29 {
    position: absolute;
    top: 34px;
    left: 30px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #11171b;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .techverse-home-page .one-of-the-main {
    position: absolute;
    width: 970px;
    top: 77px;
    left: 30px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
  }
  
  .techverse-home-page .img-3 {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 48px;
    left: 980px;
  }
  
  .techverse-home-page .group-26 {
    position: absolute;
    width: 1032px;
    height: 75px;
    top: 481px;
    left: 205px;
  }
  
  .techverse-home-page .overlap-9 {
    position: relative;
    width: 1030px;
    height: 75px;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .techverse-home-page .angle-left {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 23px;
    left: 970px;
  }
  
  .techverse-home-page .text-wrapper-30 {
    position: absolute;
    top: 24px;
    left: 30px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #11171b;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .techverse-home-page .overlap-10 {
    position: absolute;
    width: 1032px;
    height: 75px;
    top: 376px;
    left: 205px;
  }
  
  .techverse-home-page .group-27 {
    position: absolute;
    width: 1032px;
    height: 75px;
    top: 0;
    left: 0;
  }
  
  .techverse-home-page .img-4 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 28px;
    left: 980px;
  }
  
  .techverse-home-page .overlap-11 {
    position: absolute;
    width: 1032px;
    height: 75px;
    top: 691px;
    left: 205px;
  }
  
  .techverse-home-page .overlap-12 {
    position: absolute;
    width: 1032px;
    height: 75px;
    top: 796px;
    left: 205px;
  }
  
  .techverse-home-page .overlap-13 {
    position: absolute;
    width: 1032px;
    height: 75px;
    top: 586px;
    left: 205px;
  }
  
  .techverse-home-page .group-28 {
    position: absolute;
    width: 1170px;
    height: 500px;
    top: 460px;
    left: 135px;
    background-image: url(./img/rectangle-4103.png);
    background-size: 100% 100%;
  }
  
  .techverse-home-page .heading-discover-wrapper {
    position: absolute;
    width: 844px;
    height: 57px;
    top: 1000px;
    left: 293px;
  }
  
  .techverse-home-page .element-happy-clients-wrapper {
    position: absolute;
    width: 270px;
    height: 150px;
    top: 1077px;
    left: 135px;
    background-color: #f9f9f9;
  }
  
  .techverse-home-page .element-happy-clients {
    position: absolute;
    top: 39px;
    left: 50px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .techverse-home-page .element-k-happy-clients-wrapper {
    position: absolute;
    width: 270px;
    height: 150px;
    top: 1077px;
    left: 735px;
    background-color: #f9f9f9;
  }
  
  .techverse-home-page .overlap-14 {
    position: absolute;
    width: 270px;
    height: 150px;
    top: 1077px;
    left: 435px;
    background-color: #f9f9f9;
  }
  
  .techverse-home-page .overlap-15 {
    position: absolute;
    width: 270px;
    height: 150px;
    top: 1077px;
    left: 1035px;
    background-color: #f9f9f9;
  }
  
  .techverse-home-page .overlap-16 {
    position: absolute;
    width: 370px;
    height: 384px;
    top: 1369px;
    left: 134px;
    background-color: #f9f9f9;
  }
  
  .techverse-home-page .group-29 {
    position: relative;
    width: 320px;
    height: 334px;
    top: 25px;
    left: 25px;
  }
  
  .techverse-home-page .group-30 {
    position: absolute;
    width: 324px;
    height: 133px;
    top: 201px;
    left: 0;
  }
  
  .techverse-home-page .heading-discover {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .techverse-home-page .text-wrapper-31 {
    width: 320px;
    top: 37px;
    left: 0;
    color: #11171bcc;
    position: absolute;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
  }
  
  .techverse-home-page .book-my-ticket-webp {
    position: absolute;
    width: 320px;
    height: 186px;
    top: 0;
    left: 0;
    border: 0px none;
    background-image: url(./img/book-my-ticket-webp-2.svg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .techverse-home-page .overlap-17 {
    position: absolute;
    width: 370px;
    height: 384px;
    top: 1369px;
    left: 534px;
    background-color: #f9f9f9;
  }
  
  .techverse-home-page .book-my-ticket-webp-2 {
    background-image: url(./img/book-my-ticket-webp-1.svg);
    position: absolute;
    width: 320px;
    height: 186px;
    top: 0;
    left: 0;
    border: 0px none;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .techverse-home-page .overlap-18 {
    position: absolute;
    width: 370px;
    height: 384px;
    top: 1369px;
    left: 934px;
    background-color: #f9f9f9;
  }
  
  .techverse-home-page .book-my-ticket-webp-3 {
    background-image: url(./img/book-my-ticket-webp.png);
    position: absolute;
    width: 320px;
    height: 186px;
    top: 0;
    left: 0;
    border: 0px none;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .techverse-home-page .heading-discover-2 {
    position: absolute;
    top: 1297px;
    left: 390px;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #11171b;
    font-size: 38px;
    letter-spacing: 0.38px;
    line-height: normal;
  }
  
  .techverse-home-page .group-31 {
    position: absolute;
    width: 574px;
    height: 219px;
    top: 1823px;
    left: 135px;
  }
  
  .techverse-home-page .for-hospitals-labs {
    position: absolute;
    width: 570px;
    top: 48px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #11171b;
    font-size: 38px;
    letter-spacing: 0.38px;
    line-height: normal;
  }
  
  .techverse-home-page .text-wrapper-32 {
    position: absolute;
    width: 570px;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171b;
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: normal;
  }
  
  .techverse-home-page .group-32 {
    position: absolute;
    width: 570px;
    height: 442px;
    top: 1823px;
    left: 735px;
  }
  
  .techverse-home-page .group-33 {
    position: absolute;
    width: 574px;
    height: 157px;
    top: 0;
    left: 0;
  }
  
  .techverse-home-page .overlap-group-5 {
    position: relative;
    width: 570px;
    height: 157px;
    background-color: #f9f9f9;
  }
  
  .techverse-home-page .text-wrapper-33 {
    position: absolute;
    width: 521px;
    top: 62px;
    left: 24px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #11171bcc;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 24px;
  }
  
  .techverse-home-page .text-wrapper-34 {
    position: absolute;
    top: 24px;
    left: 24px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .techverse-home-page .img-5 {
    position: absolute;
    width: 16px;
    height: 1px;
    top: 35px;
    left: 529px;
  }
  
  .techverse-home-page .group-34 {
    position: absolute;
    width: 569px;
    height: 70px;
    top: 182px;
    left: 1px;
  }
  
  .techverse-home-page .overlap-19 {
    position: relative;
    width: 571px;
    height: 70px;
  }
  
  .techverse-home-page .group-35 {
    position: absolute;
    width: 571px;
    height: 70px;
    top: 0;
    left: 0;
  }
  
  .techverse-home-page .overlap-group-6 {
    position: relative;
    width: 569px;
    height: 70px;
    background-color: #f9f9f9;
  }
  
  .techverse-home-page .text-wrapper-35 {
    position: absolute;
    top: 23px;
    left: 24px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .techverse-home-page .img-6 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 27px;
    left: 528px;
  }
  
  .techverse-home-page .group-36 {
    position: absolute;
    width: 569px;
    height: 70px;
    top: 277px;
    left: 1px;
  }
  
  .techverse-home-page .group-37 {
    position: absolute;
    width: 569px;
    height: 70px;
    top: 372px;
    left: 1px;
  }

  .techverse-home-page .questions-container {
    box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.3);
  }
  
  .techverse-home-page h2 {
    padding: 4px 32px;
    font-size: 28px;
  }
  
  .techverse-home-page .faq-header {
    display: flex;
    /* background: #03071e;
    color: #f1faee; */
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 75px;
    width: 1030px;
    border-radius: 8px;
    background-color: #ffffff;
  }

  .techverse-home-page .faq-header-1 {
    display: flex;
    /* background: #03071e;
    color: #f1faee; */
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 75px;
    width: 570px;
    border-radius: 8px;
    background-color: #ffffff;
  }

  .techverse-home-page .faq-header-1 .open,
  .techverse-home-page .faq-header-1 .close {
    position: absolute;
    right: 0;
    padding: 0 32px;
    font-size: 36px;
    font-weight: bold;
    transform: translateY(-8px);
    opacity: 0;
    /* transition: all 500ms; */
  }
  
  .techverse-home-page .faq-header-1 .open.active,
  .techverse-home-page .faq-header-1 .close.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .techverse-home-page .faq-header-1 h3 {
    font-size: 18px;
    padding: 0 32px;
    font-family: 'Poppins';
    font-weight: 500;
  }
  
  .techverse-home-page .faq-header .open,
  .techverse-home-page .faq-header .close {
    position: absolute;
    right: 0;
    padding: 0 32px;
    font-size: 36px;
    font-weight: bold;
    transform: translateY(-8px);
    opacity: 0;
    /* transition: all 500ms; */
  }
  
  .techverse-home-page .faq-header .open.active,
  .techverse-home-page .faq-header .close.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .techverse-home-page .faq-header h3 {
    font-size: 18px;
    padding: 0 32px;
    font-family: 'Poppins';
    font-weight: 500;
  }
  
  .techverse-home-page .content {
    padding: 0 32px;
    background: #fdfffc;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
    font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  }
  
  .techverse-home-page .content.active {
    max-height: 600px;
  }
  
  