.techverse-home-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin:0px !important; 
}

.techverse-home-page .div {
  background-color: #ffffff;
  width: 1440px;
  height: 6841px;
  position: relative;
}

.techverse-home-page .overlap {
  position: absolute;
  width: 1440px;
  height: 750px;
  top: 0;
  left: 0;
  /* background-image: url(./img/frame-10-1.png); */
  background-size: cover;
  background-position: 50% 50%;
}

.techverse-home-page .group {
  position: absolute;
  width: 594px;
  height: 277px;
  top: 174px;
  left: 135px;
}

.techverse-home-page .group-wrapper {
  height: 277px;
}

.techverse-home-page .div-wrapper {
  width: 594px;
  height: 277px;
}

.techverse-home-page .group-2 {
  position: relative;
  width: 598px;
  height: 277px;
}

.techverse-home-page .techverse-solutions {
  position: absolute;
  width: 570px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 51px;
  letter-spacing: 0.52px;
  line-height: 67.6px;
}

.techverse-home-page .text-wrapper {
  color: #11171b;
}

.techverse-home-page .span {
  color: #ea2134;
}

.techverse-home-page .our-team-of-experts {
  position: absolute;
  width: 594px;
  top: 229px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.techverse-home-page .overlap-group-wrapper {
  position: absolute;
  width: 498px;
  height: 79px;
  top: 605px;
  left: 135px;
}

.techverse-home-page .overlap-group {
  position: relative;
  height: 79px;
}

.techverse-home-page .group-3 {
  position: absolute;
  width: 498px;
  height: 79px;
  top: 0;
  left: 0;
}

.techverse-home-page .group-4 {
  position: absolute;
  width: 118px;
  height: 79px;
  top: 0;
  left: 0;
}

.techverse-home-page .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #11171b;
  font-size: 42px;
  letter-spacing: 0.42px;
  line-height: 54.6px;
  white-space: nowrap;
}

.techverse-home-page .text-wrapper-3 {
  position: absolute;
  top: 55px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
}

.techverse-home-page .group-5 {
  position: absolute;
  width: 162px;
  height: 79px;
  top: 0;
  left: 172px;
}

.techverse-home-page .group-6 {
  position: absolute;
  width: 118px;
  height: 79px;
  top: 0;
  left: 384px;
}

.techverse-home-page .rectangle {
  position: absolute;
  width: 1px;
  height: 78px;
  top: 0;
  left: 141px;
  background-color: #11171b4c;
}

.techverse-home-page .rectangle-2 {
  position: absolute;
  width: 1px;
  height: 78px;
  top: 0;
  left: 356px;
  background-color: #11171b4c;
}

.techverse-home-page .hero-banner-image {
  position: absolute;
  width: 621px;
  height: 450px;
  top: 174px;
  left: 735px;
}

.techverse-home-page .button-medium {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 30px;
  position: absolute;
  top: 496px;
  left: 135px;
  background-color: #ea2134;
  border-radius: 5px;
  cursor: pointer;
}

.techverse-home-page .button {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 20.4px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
  margin-left: 1032px;
  background-color: #f8433f;
  padding: 14px 30px 14px 30px;
  color: white;
  width: 139px;
  height: 51px;
  margin-top: -16px;
  border-radius: 5px;
}

.techverse-home-page .button-1 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 20.4px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
  font-weight: 400;
  font-family: Poppins;
  line-height: 20.37px;
  letter-spacing: 1%;
  border-radius: 5px;
  all: unset;
  /* background-color: #f8433f; */
}

.techverse-home-page .overlap-wrapper {
  position: absolute;
  width: 1440px;
  height: 88px;
  top: 0;
  left: 0;
  box-shadow: rgba(255, 255, 255, 0.92);
  /* background: rgba(255, 255, 255, 0.92); */
  /* backdrop-filter: blur(7.5px); */
}

.techverse-home-page .overlap-2 {
  position: relative;
  width: 1170px;
  height: 48px;
  top: 22px;
  left: 135px;
}

.techverse-home-page .group-7 {
  position: absolute;
  width: 1170px;
  height: 48px;
  top: 0;
  left: 0;
}

.techverse-home-page .button-medium-wrapper {
  position: absolute;
  width: 139px;
  height: 48px;
  top: 0;
  left: 1031px;
  all: unset;
  box-sizing: border-box;
}

.techverse-home-page .button-medium-2 {
  padding: 14px 30px;
  position: relative;
  background-color: #ea2134;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 5px;
  all: unset;
  box-sizing: border-box;
}

.techverse-home-page .img {
  position: absolute;
  width: 206px;
  height: 40px;
  top: 8px;
  left: 0;
}

.techverse-home-page .navbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 44px;
  position: absolute;
  top: 10px;
  left: 380px;
}

.techverse-home-page .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171b;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: normal;
  text-decoration: none;
}

.techverse-home-page .home {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins";
  font-weight: 400;
  color: #ea2134;
  font-size: 14px;
  letter-spacing: 0.16px;
  line-height: normal;
  white-space: nowrap;
  text-decoration: none;
}

.techverse-home-page .overlap-3 {
  position: absolute;
  width: 1440px;
  height: 770px;
  top: 2985px;
  left: 0;
  background-color: #f9f9f9;
}

.techverse-home-page .rectangle-3 {
  position: absolute;
  width: 270px;
  height: 1px;
  top: 199px;
  left: 135px;
  background-color: #11171b0d;
}

.techverse-home-page .rectangle-4 {
  position: absolute;
  width: 270px;
  height: 1px;
  top: 258px;
  left: 135px;
  background-color: #11171b0d;
}

.techverse-home-page .marketplace {
  position: absolute;
  top: 216px;
  left: 135px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .text-wrapper-5 {
  top: 161px;
  position: absolute;
  left: 135px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .heading {
  position: absolute;
  top: 71px;
  left: 135px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #11171b;
  font-size: 38px;
  letter-spacing: 0.38px;
  line-height: normal;
}

.techverse-home-page .text-wrapper-6 {
  top: 161px;
  left: 435px;
  font-weight: 500;
  color: #ea2134;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  font-family: "Poppins", Helvetica;
}

.techverse-home-page .lorem-ipsum-is {
  position: absolute;
  width: 872px;
  height: 72px;
  top: 201px;
  left: 435px;
}

.techverse-home-page .p {
  width: 870px;
  top: 0;
  left: 0;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  position: absolute;
  font-family: "Poppins", Helvetica;
}

.techverse-home-page .rectangle-5 {
  position: absolute;
  width: 870px;
  height: 445px;
  top: 33px;
  left: 14px;
}

.techverse-home-page .button-medium-3 {
  padding: 16px 30px;
  position: absolute;
  top: 75px;
  left: 1155px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.techverse-home-page .button-5 {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 23.3px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
  margin-top: -10px;
  margin-left: -30px;
  background-color: #f8433f;
  padding: 14px 30px 14px 30px;
  gap: 8px;
  color: white;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  /* line-height: 23.28px; */
  letter-spacing: initial;
}


.techverse-home-page .rectangle-7 {
  position: absolute;
  width: 270px;
  height: 1px;
  top: 313px;
  left: 135px;
  background-color: #11171b0d;
}

.techverse-home-page .rectangle-8 {
  position: absolute;
  width: 270px;
  height: 1px;
  top: 373px;
  left: 135px;
  background-color: #11171b0d;
}

.techverse-home-page .marketplace-2 {
  top: 271px;
  position: absolute;
  left: 135px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .marketplace-3 {
  top: 326px;
  position: absolute;
  left: 135px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .rectangle-9 {
  position: absolute;
  width: 270px;
  height: 1px;
  top: 423px;
  left: 135px;
  background-color: #11171b0d;
}

.techverse-home-page .marketplace-4 {
  top: 381px;
  position: absolute;
  left: 135px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .rectangle-10 {
  position: absolute;
  width: 270px;
  height: 1px;
  top: 478px;
  left: 135px;
  background-color: #11171b0d;
}

.techverse-home-page .rectangle-11 {
  position: absolute;
  width: 270px;
  height: 1px;
  top: 595px;
  left: 135px;
  background-color: #11171b0d;
}

.techverse-home-page .rectangle-12 {
  position: absolute;
  width: 270px;
  height: 1px;
  top: 533px;
  left: 135px;
  background-color: #11171b0d;
}

.techverse-home-page .rectangle-13 {
  position: absolute;
  width: 270px;
  height: 1px;
  top: 654px;
  left: 135px;
  background-color: #11171b0d;
}

.techverse-home-page .rectangle-14 {
  position: absolute;
  width: 270px;
  height: 1px;
  top: 711px;
  left: 135px;
  background-color: #11171b0d;
}

.techverse-home-page .marketplace-5 {
  top: 436px;
  position: absolute;
  left: 135px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .marketplace-6 {
  top: 546px;
  position: absolute;
  left: 135px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .marketplace-7 {
  top: 601px;
  position: absolute;
  left: 135px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .marketplace-8 {
  top: 491px;
  position: absolute;
  left: 135px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .marketplace-9 {
  top: 656px;
  position: absolute;
  left: 135px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .group-8 {
  position: absolute;
  width: 1440px;
  height: 120px;
  top: 750px;
  left: 0;
  background-color: #11171b;
}

.techverse-home-page .group-9 {
  position: relative;
  width: 1247px;
  height: 32px;
  top: 44px;
  left: 96px;
}

.techverse-home-page .group-10 {
  position: relative;
  height: 32px;
}

.techverse-home-page .hubspot-logo-svg {
  position: absolute;
  width: 109px;
  height: 32px;
  top: 0;
  left: 1138px;
}

.techverse-home-page .adobe-logo-svg {
  position: absolute;
  width: 121px;
  height: 32px;
  top: 0;
  left: 0;
}

.techverse-home-page .dropbox-logo-svg {
  position: absolute;
  width: 168px;
  height: 32px;
  top: 0;
  left: 187px;
}

.techverse-home-page .bubble-logo-svg {
  position: absolute;
  width: 141px;
  height: 32px;
  top: 0;
  left: 421px;
}

.techverse-home-page .wordpress-logo-svg {
  position: absolute;
  width: 156px;
  height: 32px;
  top: 0;
  left: 628px;
}

.techverse-home-page .squarespace-logo-svg {
  position: absolute;
  width: 221px;
  height: 32px;
  top: 0;
  left: 851px;
}

.techverse-home-page .img-2 {
  position: absolute;
  width: 570px;
  height: 420px;
  top: 940px;
  left: 735px;
}

.techverse-home-page .group-11 {
  position: absolute;
  width: 545px;
  height: 278px;
  top: 970px;
  left: 135px;
}

.techverse-home-page .group-12 {
  position: absolute;
  width: 543px;
  height: 208px;
  top: 70px;
  left: 0;
}

.techverse-home-page .at-techverse-we-re-wrapper {
  position: relative;
  width: 545px;
  height: 208px;
}

.techverse-home-page .at-techverse-we-re {
  position: absolute;
  width: 543px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 25.6px;
}

.techverse-home-page .text-wrapper-7 {
  top: 0;
  font-weight: 700;
  color: #11171b;
  font-size: 38px;
  letter-spacing: 0.38px;
  line-height: normal;
  position: absolute;
  left: 0;
  font-family: "Poppins", Helvetica;
}

.techverse-home-page .overlap-4 {
  position: absolute;
  width: 1440px;
  height: 785px;
  top: 1430px;
  left: 0;
  background-color: #f9f9f9;
}

.techverse-home-page .group-13 {
  position: relative;
  width: 1241px;
  height: 665px;
  top: 60px;
  left: 69px;
}

.techverse-home-page .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 419px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #11171b;
  font-size: 38px;
  letter-spacing: 0.38px;
  line-height: normal;
 
}

.techverse-home-page .group-14 {
  position: absolute;
  width: 1263px;
  height: 568px;
  top: 97px;
  left: 32px;
}

.techverse-home-page .overlap-5 {
  position: absolute;
  width: 370px;
  height: 256px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.techverse-home-page .text-wrapper-9 {
  position: absolute;
  width: 320px;
  top: 88px;
  left: 25px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.techverse-home-page .text-wrapper-10 {
  position: absolute;
  top: 35px;
  left: 88px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .frame-wrapper {
  position: absolute;
  width: 109px;
  height: 22px;
  top: 204px;
  left: 25px;
}

.techverse-home-page .frame {
  display: inline-flex;
  height: 22px;
  align-items: center;
  gap: 6px;
  position: relative;
}

.techverse-home-page .view-more {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ea2134;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
  text-decoration: none;
}

.techverse-home-page .vector {
  position: relative;
  width: 14px;
  height: 12px;
}

.techverse-home-page .group-15 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 25px;
  left: 25px;
  border-radius: 12px;
  background: linear-gradient(-48deg, rgb(254, 77, 137) 0%, rgb(246, 126, 46) 100%);
}

.techverse-home-page .union {
  position: absolute;
  width: 27px;
  height: 28px;
  top: 10px;
  left: 10px;
}

.techverse-home-page .overlap-group-2 {
  position: absolute;
  width: 370px;
  height: 256px;
  top: 0;
  left: 444px;
  background-color: #ffffff;
}

.techverse-home-page .union-2 {
  width: 23px;
  top: 9px;
  left: 14px;
  position: absolute;
  height: 30px;
}

.techverse-home-page .overlap-6 {
  position: absolute;
  width: 370px;
  height: 256px;
  top: 0;
  left: 869px;
  background-color: #ffffff;
}

.techverse-home-page .vector-2 {
  position: absolute;
  width: 32px;
  height: 23px;
  top: 13px;
  left: 10px;
}

.techverse-home-page .overlap-7 {
  position: absolute;
  width: 370px;
  height: 256px;
  top: 312px;
  left: 0;
  background-color: #ffffff;
}

.techverse-home-page .union-3 {
  width: 28px;
  top: 8px;
  left: 11px;
  position: absolute;
  height: 30px;
}

.techverse-home-page .overlap-8 {
  position: absolute;
  width: 370px;
  height: 256px;
  top: 312px;
  left: 444px;
  background-color: #ffffff;
}

.techverse-home-page .vector-3 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 9px;
  left: 9px;
}

.techverse-home-page .overlap-9 {
  position: absolute;
  width: 370px;
  height: 256px;
  top: 312px;
  left: 869px;
  background-color: #ffffff;
}

.techverse-home-page .group-16 {
  position: relative;
  width: 28px;
  height: 28px;
  top: 10px;
  left: 10px;
  background-image: url(./img/union-1.svg);
  background-size: 100% 100%;
}

.techverse-home-page .group-17 {
  position: absolute;
  width: 670px;
  height: 630px;
  top: 2285px;
  left: 635px;
}

.techverse-home-page .group-18 {
  position: absolute;
  width: 570px;
  height: 190px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px #0000000d;
}

.techverse-home-page .group-19 {
  position: absolute;
  width: 378px;
  height: 136px;
  top: 27px;
  left: 171px;
}

.techverse-home-page .text-wrapper-11 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .text-wrapper-12 {
  position: absolute;
  width: 374px;
  top: 40px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.techverse-home-page .experience-and {
  position: absolute;
  width: 120px;
  height: 125px;
  top: 33px;
  left: 25px;
  object-fit: cover;
}

.techverse-home-page .group-20 {
  position: absolute;
  width: 570px;
  height: 190px;
  top: 440px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px #0000000d;
}

.techverse-home-page .group-21 {
  position: absolute;
  width: 374px;
  height: 112px;
  top: 39px;
  left: 171px;
}

.techverse-home-page .group-22 {
  position: relative;
  width: 378px;
  height: 112px;
}

.techverse-home-page .quality-and {
  position: absolute;
  width: 117px;
  height: 128px;
  top: 31px;
  left: 26px;
}

.techverse-home-page .group-23 {
  position: absolute;
  width: 570px;
  height: 190px;
  top: 220px;
  left: 100px;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px #0000000d;
}

.techverse-home-page .client-centric {
  position: absolute;
  width: 126px;
  height: 126px;
  top: 32px;
  left: 23px;
  object-fit: cover;
}

.techverse-home-page .button-medium-4 {
  padding: 16px 30px;
  position: absolute;
  top: 3828px;
  left: 1155px;
  /* background-color: #ea2134; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.techverse-home-page .button-6 {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 23.3px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
  margin-top: -13px;
  margin-left: -30px;
  background-color: #f8433f;
  padding: 14px 30px 14px 30px;
  gap: 8px;
  color: white;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  /* line-height: 23.28px; */
  letter-spacing: initial;
}

.techverse-home-page .button-medium-5 {
  padding: 16px 30px;
  position: absolute;
  top: 2679px;
  left: 135px;
  /* background-color: #ea2134; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 5px;
}

.techverse-home-page .button-4 {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 23.3px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
  margin-top: -30px;
  margin-left: -30px;
  background-color: #f8433f;
  padding: 14px 30px 14px 30px;
  gap: 8px;
  color: white;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  /* line-height: 23.28px; */
  letter-spacing: initial;
}

.techverse-home-page .button-medium-6 {
  padding: 16px 30px;
  position: absolute;
  top: 1278px;
  left: 135px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 5px;
}

.techverse-home-page .button-3 {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 23.3px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
  margin-top: -30px;
  margin-left: -30px;
  background-color: #f8433f;
  padding: 14px 30px 14px 30px;
  gap: 8px;
  color: white;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 23.28px;
  letter-spacing: initial;
  cursor: pointer;
}

.techverse-home-page .overlap-10 {
  position: absolute;
  width: 1440px;
  height: 941px;
  top: 4532px;
  left: 0;
  background-color: #f9f9f9;
}

.techverse-home-page .group-24 {
  position: absolute;
  width: 559px;
  height: 57px;
  top: 70px;
  left: 434px;
}

.techverse-home-page .overlap-11 {
  position: absolute;
  width: 1030px;
  /* height: 179px; */
  top: 167px;
  left: 205px;
  background-color: #ffffff;
  border-radius: 8px;
}

.techverse-home-page .text-wrapper-13 {
  position: absolute;
  top: 33px;
  left: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .one-of-the-main {
  position: absolute;
  width: 970px;
  top: 76px;
  left: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.techverse-home-page .img-3 {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 48px;
  left: 980px;
}

.techverse-home-page .group-25 {
  position: absolute;
  width: 1032px;
  height: 75px;
  top: 481px;
  left: 205px;
}

.techverse-home-page .overlap-12 {
  position: relative;
  width: 1030px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 8px;
}

.techverse-home-page .angle-left {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 23px;
  left: 970px;
}

.techverse-home-page .text-wrapper-14 {
  position: absolute;
  top: 24px;
  left: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .overlap-13 {
  position: absolute;
  width: 1032px;
  height: 75px;
  top: 376px;
  left: 205px;
}

.techverse-home-page .group-26 {
  position: absolute;
  width: 1032px;
  height: 75px;
  top: 0;
  left: 0;
}

.techverse-home-page .img-4 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 28px;
  left: 980px;
}

.techverse-home-page .overlap-14 {
  position: absolute;
  width: 1032px;
  height: 75px;
  top: 691px;
  left: 205px;
}

.techverse-home-page .overlap-15 {
  position: absolute;
  width: 1032px;
  height: 75px;
  top: 796px;
  left: 205px;
}

.techverse-home-page .overlap-16 {
  position: absolute;
  width: 1032px;
  height: 75px;
  top: 586px;
  left: 205px;
}

.techverse-home-page .group-27 {
  position: absolute;
  width: 470px;
  height: 197px;
  top: 2452px;
  left: 135px;
}

.techverse-home-page .group-28 {
  position: relative;
  width: 472px;
  height: 197px;
}

.techverse-home-page .affordable-quality-wrapper {
  position: absolute;
  width: 472px;
  height: 120px;
  top: 77px;
  left: 0;
}

.techverse-home-page .affordable-quality {
  position: absolute;
  width: 470px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.techverse-home-page .group-29 {
  position: absolute;
  width: 1440px;
  height: 585px;
  top: 6256px;
  left: 0;
}

.techverse-home-page .group-30 {
  position: absolute;
  width: 1440px;
  height: 524px;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
}

.techverse-home-page .group-31 {
  position: absolute;
  width: 146px;
  height: 384px;
  top: 70px;
  left: 667px;
}

.techverse-home-page .text-wrapper-15 {
  top: 52px;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
  position: absolute;
  left: 0;
  font-family: "Poppins", Helvetica;
  cursor: pointer;
}

.techverse-home-page .text-wrapper-16 {
  position: absolute;
  top: 90px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.techverse-home-page .text-wrapper-17 {
  position: absolute;
  top: 128px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.techverse-home-page .text-wrapper-18 {
  position: absolute;
  top: 166px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.techverse-home-page .text-wrapper-19 {
  position: absolute;
  top: 206px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.techverse-home-page .text-wrapper-20 {
  position: absolute;
  top: 247px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.techverse-home-page .text-wrapper-21 {
  position: absolute;
  top: 283px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.techverse-home-page .text-wrapper-22 {
  position: absolute;
  top: 324px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.techverse-home-page .text-wrapper-23 {
  position: absolute;
  top: 360px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.techverse-home-page .text-wrapper-24 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .group-32 {
  position: absolute;
  width: 221px;
  height: 384px;
  top: 70px;
  left: 842px;
}

.techverse-home-page .group-33 {
  position: absolute;
  width: 170px;
  height: 266px;
  top: 70px;
  left: 454px;
}

.techverse-home-page .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  position: absolute;
  top: 52px;
  left: 0;
}

.techverse-home-page .text-wrapper-25 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.techverse-home-page .text-wrapper-26 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.techverse-home-page .group-34 {
  position: absolute;
  width: 224px;
  height: 214px;
  top: 70px;
  left: 1084px;
}

.techverse-home-page .overlap-group-3 {
  position: relative;
  width: 234px;
  height: 214px;
}

.techverse-home-page .group-35 {
  position: absolute;
  width: 30px;
  height: 162px;
  top: 52px;
  left: 0;
}

.techverse-home-page .group-36 {
  position: absolute;
  width: 234px;
  height: 211px;
  top: 0;
  left: 0;
}

.techverse-home-page .techverse {
  position: absolute;
  top: 55px;
  left: 45px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
}

.techverse-home-page .hello-techverse-com {
  position: absolute;
  top: 99px;
  left: 45px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
}

.techverse-home-page .element {
  position: absolute;
  top: 143px;
  left: 45px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
}

.techverse-home-page .element-2 {
  position: absolute;
  top: 187px;
  left: 45px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
}

.techverse-home-page .group-37 {
  position: absolute;
  width: 273px;
  height: 254px;
  top: 70px;
  left: 134px;
}

.techverse-home-page .the-thumb-s-natural {
  position: absolute;
  width: 270px;
  top: 52px;
  left: 1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.techverse-home-page .group-38 {
  position: absolute;
  width: 101px;
  height: 24px;
  top: 181px;
  left: 1px;
}

.techverse-home-page .text-wrapper-27 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
}

.techverse-home-page .group-39 {
  position: absolute;
  width: 199px;
  height: 36px;
  top: 218px;
  left: 1px;
}

.techverse-home-page .twitter {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
}

.techverse-home-page .FB {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 54px;
}

.techverse-home-page .insta {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 109px;
}

.techverse-home-page .youtube {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 163px;
}

.techverse-home-page .group-40 {
  position: absolute;
  width: 175px;
  height: 34px;
  top: 0;
  left: 0;
}

.techverse-home-page .group-41 {
  position: absolute;
  width: 1440px;
  height: 61px;
  top: 524px;
  left: 0;
  background-color: #11171b;
}

.techverse-home-page .group-42 {
  position: relative;
  width: 305px;
  height: 27px;
  top: 17px;
  left: 568px;
}

.techverse-home-page .text-wrapper-28 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Product Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 26.5px;
  white-space: nowrap;
}

.techverse-home-page .heading-2 {
  top: 3824px;
  left: 135px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #11171b;
  font-size: 38px;
  letter-spacing: 0.38px;
  line-height: normal;
}

.techverse-home-page .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  top: 4438px;
  left: 135px;
}

.techverse-home-page .view-more-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ea2134;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.techverse-home-page .overlap-17 {
  position: absolute;
  width: 670px;
  height: 160px;
  top: 3922px;
  left: 635px;
}

.techverse-home-page .frame-4 {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  top: 131px;
  left: 300px;
}

.techverse-home-page .group-43 {
  position: absolute;
  width: 670px;
  height: 160px;
  top: 0;
  left: 0;
}

.techverse-home-page .rectangle-15 {
  position: absolute;
  width: 270px;
  height: 160px;
  top: 0;
  left: 0;
}

.techverse-home-page .group-44 {
  position: absolute;
  width: 370px;
  height: 116px;
  top: 0;
  left: 300px;
}

.techverse-home-page .group-45 {
  position: relative;
  width: 378px;
  height: 116px;
}

.techverse-home-page .text-wrapper-29 {
  width: 370px;
  top: 68px;
  left: 0;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.techverse-home-page .text-wrapper-30 {
  position: absolute;
  width: 369px;
  top: 34px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .text-wrapper-31 {
  position: absolute;
  top: 0;
  left: 254px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
}

.techverse-home-page .overlap-18 {
  position: absolute;
  width: 670px;
  height: 160px;
  top: 4112px;
  left: 635px;
}

.techverse-home-page .overlap-19 {
  position: absolute;
  width: 670px;
  height: 160px;
  top: 4302px;
  left: 635px;
}

.techverse-home-page .rectangle-16 {
  position: absolute;
  width: 470px;
  height: 360px;
  top: 3922px;
  left: 135px;
}

.techverse-home-page .text-wrapper-32 {
  width: 470px;
  top: 4374px;
  left: 135px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.techverse-home-page .text-wrapper-33 {
  position: absolute;
  top: 4337px;
  left: 135px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #11171b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.techverse-home-page .text-wrapper-34 {
  position: absolute;
  top: 4301px;
  left: 135px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
}

.techverse-home-page .text-wrapper-35 {
  position: absolute;
  top: 4301px;
  left: 494px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #11171bcc;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
}

.techverse-home-page .group-46 {
  position: absolute;
  width: 1170px;
  height: 353px;
  top: 5543px;
  left: 135px;
}

.techverse-home-page .group-47 {
  position: absolute;
  width: 384px;
  height: 57px;
  top: 0;
  left: 394px;
}

.techverse-home-page .group-48 {
  position: absolute;
  width: 1170px;
  height: 256px;
  top: 97px;
  left: 0;
}

.techverse-home-page .dropbox-logo-svg-wrapper {
  position: absolute;
  width: 270px;
  height: 113px;
  top: 0;
  left: 300px;
  border: 1px solid;
  border-color: #efefef;
}

.techverse-home-page .dropbox-logo-svg-2 {
  position: absolute;
  width: 185px;
  height: 35px;
  top: 38px;
  left: 41px;
}

.techverse-home-page .bubble-logo-svg-wrapper {
  position: absolute;
  width: 270px;
  height: 113px;
  top: 0;
  left: 600px;
  border: 1px solid;
  border-color: #efefef;
}

.techverse-home-page .bubble-logo-svg-2 {
  position: absolute;
  width: 136px;
  height: 31px;
  top: 40px;
  left: 66px;
}

.techverse-home-page .adobe-logo-svg-wrapper {
  position: absolute;
  width: 270px;
  height: 113px;
  top: 0;
  left: 0;
  border: 1px solid;
  border-color: #efefef;
}

.techverse-home-page .adobe-logo-svg-px {
  position: absolute;
  width: 143px;
  height: 37px;
  top: 37px;
  left: 62px;
}

.techverse-home-page .wordpress-logo-svg-wrapper {
  position: absolute;
  width: 270px;
  height: 113px;
  top: 0;
  left: 900px;
  border: 1px solid;
  border-color: #efefef;
}

.techverse-home-page .wordpress-logo-svg-2 {
  position: absolute;
  width: 188px;
  height: 39px;
  top: 36px;
  left: 40px;
}

.techverse-home-page .img-wrapper {
  position: absolute;
  width: 270px;
  height: 113px;
  top: 143px;
  left: 300px;
  border: 1px solid;
  border-color: #efefef;
}

.techverse-home-page .group-49 {
  position: absolute;
  width: 270px;
  height: 113px;
  top: 143px;
  left: 600px;
  border: 1px solid;
  border-color: #efefef;
}

.techverse-home-page .adobe-logo-svg-px-wrapper {
  position: absolute;
  width: 270px;
  height: 113px;
  top: 143px;
  left: 0;
  border: 1px solid;
  border-color: #efefef;
}

.techverse-home-page .group-50 {
  position: absolute;
  width: 270px;
  height: 113px;
  top: 143px;
  left: 900px;
  border: 1px solid;
  border-color: #efefef;
}

.techverse-home-page .group-51 {
  position: absolute;
  width: 1170px;
  height: 220px;
  top: 5966px;
  left: 135px;
}

.techverse-home-page .overlap-20 {
  position: relative;
  height: 220px;
}

.techverse-home-page .group-52 {
  position: absolute;
  width: 1170px;
  height: 220px;
  top: 0;
  left: 0;
  background: linear-gradient(-48deg, rgb(254, 77, 137) 0%, rgb(246, 126, 46) 100%);
}

.techverse-home-page .grow-up-your-wrapper {
  position: absolute;
  width: 616px;
  height: 126px;
  top: 47px;
  left: 60px;
}

.techverse-home-page .grow-up-your {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 42px;
  letter-spacing: 0.42px;
  line-height: normal;
}

.techverse-home-page .button-medium-7 {
  padding: 14px 30px;
  position: absolute;
  top: 83px;
  left: 955px;
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 5px;
  all: unset;
  box-sizing: border-box;
}

.techverse-home-page .button-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #fd4f84;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26.2px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
  margin-left: 951px;
  margin-top: 83px;
  width: 139px;
  height: 54px;
  background-color: #ffffff;
  top: 3945px;
  border-radius: 5px;
  color: #fd5180;
  font-family: Poppins;
  padding: 14px 30px 14px 30px;
  font-weight: 500;
  font-size: smaller;
  cursor: pointer;
}

.techverse-home-page .XMLID {
  position: absolute;
  width: 177px;
  height: 49px;
  top: 100px;
  left: 700px;
}

/* Style the tab */
.techverse-home-page .tab {
  float: left;
  /* border: 1px solid #ccc;
  background-color: #f1f1f1; */
  width: 25%;
  height: 300px;
  margin-top: 95px;
}

/* Style the buttons inside the tab */
.techverse-home-page .tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  /* transition: 0.3s; */
  font-size: 17px;
  font-weight: 500;
}

.techverse-home-page .rectangle-6 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 278px;
  left: 391px;
}

/* Change background color of buttons on hover */
/* .techverse-home-page .tab button:hover {
  background-color: #ddd;
} */

/* Create an active/current "tab button" class */
.techverse-home-page .tab button.active {
  /* background-color: #ccc; */
  color: #f8433f;
}

.techverse-home-page .questions-container {
  box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.3);
}

.techverse-home-page h2 {
  padding: 4px 32px;
  font-size: 28px;
}

.techverse-home-page .faq-header {
  display: flex;
  /* background: #03071e;
  color: #f1faee; */
  align-items: center;
  position: relative;
  cursor: pointer;
  height: 75px;
  width: 1030px;
  border-radius: 8px;
  background-color: #ffffff;
}

.techverse-home-page .faq-header .open,
.techverse-home-page .faq-header .close {
  position: absolute;
  right: 0;
  padding: 0 32px;
  font-size: 36px;
  font-weight: bold;
  transform: translateY(-8px);
  opacity: 0;
  /* transition: all 500ms; */
}

.techverse-home-page .faq-header .open.active,
.techverse-home-page .faq-header .close.active {
  opacity: 1;
  transform: translateY(0);
}

.techverse-home-page .faq-header h3 {
  font-size: 18px;
  padding: 0 32px;
  font-family: 'Poppins';
  font-weight: 500;
}

.techverse-home-page .content {
  padding: 0 32px;
  background: #fdfffc;
  line-height: 2;
  max-height: 0;
  overflow: hidden;
  transition: all 500ms;
  font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.01em;
text-align: left;

}

.techverse-home-page .content.active {
  max-height: 600px;
}

/* Style the tab */
.techverse-home-page  .tab {
  float: left;
  /* border: 1px solid #ccc;
  background-color: #f1f1f1; */
  /* width: 30%; */
  height: 604px;
  margin-left: 133px;
  margin-top: 143px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  color: #11171b;
}

/* Style the buttons inside the tab */
.techverse-home-page  .tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
/* .techverse-home-page .tab button:hover {
  background-color: #ddd;
} */

/* Create an active/current "tab button" class */
/* .techverse-home-page  .tab button.active {
  background-color: #ccc;
} */

/* Style the tab content */
.techverse-home-page  .tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 73%;
  border-left: none;
  height: 300px;
  margin-top: 95px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  top: 161px;
  left: 435px;
  font-weight: 500;
  /* color: #ea2134; */
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  font-family: "Poppins", Helvetica;
}

.techverse-home-page .tab-desc {
  width: 870px;
  height: 72px;
  top: 3212px;
  left: 435px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.techverse-home-page .tab-header {
  font-size: 18px;
  font-weight: 500;
  color: #f8433f;
  font-family: "Poppins";
  margin-top: -107px;
}

.faq-heading {
  font-family: Poppins;   
  font-weight: 500;
  font-size: 18px;
   /* -webkit-transition: text-indent 0.2s; */
  text-indent: 20px;
  color: #333;
}

.faq-text {
  font-family: Poppins;   
  font-weight: 500;
  color: #919191;
  width:95%;
  padding-left:20px;
  margin-bottom:30px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 31px;
}

.faq {
  width: 1000px;
  margin: 0 auto;
  /* background: white; */
  border-radius: 8px;
  position: relative;
  /* border: 1px solid #E1E1E1; */
  margin-top: 165px;
  height: auto;
}
.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 56px;
  padding-top:1px;
  /* background-color: #FAFAFA; */
  /* border-bottom: 1px solid #E1E1E1; */
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faq-arrow {
  width: 15px;
  height: 15px;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  /* -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  border-top: 2px solid rgba(0, 0, 0, 0.33);
  border-right: 2px solid rgba(0, 0, 0, 0.33);
  float: right;
  position: relative;
  top: -41px;
  right: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

 .faq input[type="checkbox"]:checked + label > .faq-arrow {
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  /* -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
 .faq input[type="checkbox"]:checked + label {
  display: block;
  background: rgba(255,255,255,255) !important;
  color: #4f7351;
  height: 142px;
  transition: height 0.8s;
  width: 1030px;
  /* -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  border-radius: 8px;
}

 .faq input[type='checkbox']:not(:checked) + label {
  display: block;
  transition: height 0.8s;
  height: 60px;
  width: 1030px;
  /* -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  background-color: #ffffff;
    border-radius: 8px;
}

::-webkit-scrollbar {
  display: none;
}